<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gencode.generate.persistence.mapper.SitesMapper">
  <resultMap id="BaseResultMap" type="com.gencode.generate.persistence.model.Sites">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="type_code" jdbcType="VARCHAR" property="typeCode" />
    <result column="owner" jdbcType="VARCHAR" property="owner" />
    <result column="icon" jdbcType="VARCHAR" property="icon" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="visit_times" jdbcType="INTEGER" property="visitTimes" />
    <result column="added" jdbcType="TIMESTAMP" property="added" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="ico" jdbcType="VARCHAR" property="ico" />
    <result column="keyword" jdbcType="VARCHAR" property="keyword" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, country_code, type_code, owner, icon, url, visit_times, added, description, 
    title, ico, keyword
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sites
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sites
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.gencode.generate.persistence.model.Sites">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sites (name, country_code, type_code, 
      owner, icon, url, visit_times, 
      added, description, title, 
      ico, keyword)
    values (#{name,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, #{typeCode,jdbcType=VARCHAR}, 
      #{owner,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{visitTimes,jdbcType=INTEGER}, 
      #{added,jdbcType=TIMESTAMP}, #{description,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, 
      #{ico,jdbcType=VARCHAR}, #{keyword,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gencode.generate.persistence.model.Sites">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sites
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="name != null">
        name,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="typeCode != null">
        type_code,
      </if>
      <if test="owner != null">
        owner,
      </if>
      <if test="icon != null">
        icon,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="visitTimes != null">
        visit_times,
      </if>
      <if test="added != null">
        added,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="ico != null">
        ico,
      </if>
      <if test="keyword != null">
        keyword,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null">
        #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        #{owner,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="visitTimes != null">
        #{visitTimes,jdbcType=INTEGER},
      </if>
      <if test="added != null">
        #{added,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="ico != null">
        #{ico,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        #{keyword,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gencode.generate.persistence.model.Sites">
    update sites
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="typeCode != null">
        type_code = #{typeCode,jdbcType=VARCHAR},
      </if>
      <if test="owner != null">
        owner = #{owner,jdbcType=VARCHAR},
      </if>
      <if test="icon != null">
        icon = #{icon,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="visitTimes != null">
        visit_times = #{visitTimes,jdbcType=INTEGER},
      </if>
      <if test="added != null">
        added = #{added,jdbcType=TIMESTAMP},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="ico != null">
        ico = #{ico,jdbcType=VARCHAR},
      </if>
      <if test="keyword != null">
        keyword = #{keyword,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gencode.generate.persistence.model.Sites">
    update sites
    set name = #{name,jdbcType=VARCHAR},
      country_code = #{countryCode,jdbcType=VARCHAR},
      type_code = #{typeCode,jdbcType=VARCHAR},
      owner = #{owner,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      visit_times = #{visitTimes,jdbcType=INTEGER},
      added = #{added,jdbcType=TIMESTAMP},
      description = #{description,jdbcType=VARCHAR},
      title = #{title,jdbcType=VARCHAR},
      ico = #{ico,jdbcType=VARCHAR},
      keyword = #{keyword,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, name, country_code, type_code, owner, icon, url, visit_times, added, description, 
    title, ico, keyword
    from sites
  </select>
  <select id="selectByPage" parameterType="com.codegen.vo.Page" resultMap="BaseResultMap">
    select id, name, country_code, type_code, owner, icon, url, visit_times, added, description, 
    title, ico, keyword
    from sites
    <if test="obj != null">
      <where>
        <if test="obj.name != null">
          and name = #{obj.name,jdbcType=VARCHAR}
        </if>
        <if test="obj.countryCode != null">
          and country_code = #{obj.countryCode,jdbcType=VARCHAR}
        </if>
        <if test="obj.typeCode != null">
          and type_code = #{obj.typeCode,jdbcType=VARCHAR}
        </if>
        <if test="obj.owner != null">
          and owner = #{obj.owner,jdbcType=VARCHAR}
        </if>
        <if test="obj.icon != null">
          and icon = #{obj.icon,jdbcType=VARCHAR}
        </if>
        <if test="obj.url != null">
          and url = #{obj.url,jdbcType=VARCHAR}
        </if>
        <if test="obj.visitTimes != null">
          and visit_times = #{obj.visitTimes,jdbcType=INTEGER}
        </if>
        <if test="obj.added != null">
          and added = #{obj.added,jdbcType=TIMESTAMP}
        </if>
        <if test="obj.description != null">
          and description = #{obj.description,jdbcType=VARCHAR}
        </if>
        <if test="obj.title != null">
          and title = #{obj.title,jdbcType=VARCHAR}
        </if>
        <if test="obj.ico != null">
          and ico = #{obj.ico,jdbcType=VARCHAR}
        </if>
        <if test="obj.keyword != null">
          and keyword = #{obj.keyword,jdbcType=VARCHAR}
        </if>
      </where>
    </if>
    limit #{offset,jdbcType=INTEGER},#{pageSize,jdbcType=INTEGER}
  </select>
  <select id="count" parameterType="com.gencode.generate.persistence.model.Sites" resultType="java.lang.Integer">
    select count(1) from sites
    <where>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="countryCode != null">
        and country_code = #{countryCode,jdbcType=VARCHAR}
      </if>
      <if test="typeCode != null">
        and type_code = #{typeCode,jdbcType=VARCHAR}
      </if>
      <if test="owner != null">
        and owner = #{owner,jdbcType=VARCHAR}
      </if>
      <if test="icon != null">
        and icon = #{icon,jdbcType=VARCHAR}
      </if>
      <if test="url != null">
        and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="visitTimes != null">
        and visit_times = #{visitTimes,jdbcType=INTEGER}
      </if>
      <if test="added != null">
        and added = #{added,jdbcType=TIMESTAMP}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="title != null">
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="ico != null">
        and ico = #{ico,jdbcType=VARCHAR}
      </if>
      <if test="keyword != null">
        and keyword = #{keyword,jdbcType=VARCHAR}
      </if>
    </where>
  </select>
  <delete id="deleteByCondition" parameterType="com.gencode.generate.persistence.model.Sites">
    delete from sites
    <where>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
      <if test="countryCode != null">
        and country_code = #{countryCode,jdbcType=VARCHAR}
      </if>
      <if test="typeCode != null">
        and type_code = #{typeCode,jdbcType=VARCHAR}
      </if>
      <if test="owner != null">
        and owner = #{owner,jdbcType=VARCHAR}
      </if>
      <if test="icon != null">
        and icon = #{icon,jdbcType=VARCHAR}
      </if>
      <if test="url != null">
        and url = #{url,jdbcType=VARCHAR}
      </if>
      <if test="visitTimes != null">
        and visit_times = #{visitTimes,jdbcType=INTEGER}
      </if>
      <if test="added != null">
        and added = #{added,jdbcType=TIMESTAMP}
      </if>
      <if test="description != null">
        and description = #{description,jdbcType=VARCHAR}
      </if>
      <if test="title != null">
        and title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="ico != null">
        and ico = #{ico,jdbcType=VARCHAR}
      </if>
      <if test="keyword != null">
        and keyword = #{keyword,jdbcType=VARCHAR}
      </if>
    </where>
  </delete>
</mapper>